![Header.jpeg](attachment:b2415cb8-5f10-4e2e-8632-d4ea7b2193d0.jpeg)

# Tugas Mandiri
---
Tugas mandiri ini digunakan pada kegiatan Kursus Data Science yang merupakan pembekalan bagi mahasiswa Universitas Gunadarma untuk Skema Associate Data Scientist.

### Pertemuan 3 - Semester 3

### Daftar Isi :
1. Definisi Menelaah Data (Data Understanding)
2. Sumber Data
3. Tipe Data berdasarkan Susunan Data: Structured and Unstructured Data
4. Tipe Data berdasarkan Sifat, Cara Pengumpulan, Waktu
5. Metode Pengambilan Data
6. Pencilan (Tukey's fences)

<center>
    <img src="https://www.researchgate.net/profile/David-Corrales-2/publication/283430974/figure/fig1/AS:614004070309903@1523401386613/phases-and-generic-tasks-of-CRISP-DM.png"  width="500" />
</center>

### 1. Definisi Menelaah Data (*Data Understanding*)
----

Secara garis besar, *data understanding* adalah tahapan setelah  setelah problem bisnis telah didefinisikan sebagai hasil tahapan *business understanding*.

Tahapan *data understanding* dilakukan untuk memeriksa data sehingga masalah pada data yang didapatkan dapat terindentifikasi.

- Tujuan: mendapatkan gambaran utuh atas data.
- Dilanjutkan ke persiapan data (data preparation), jika pemahaman awal data cukup atau kembali ke business understanding jika definisi permasalahan bisnis harus direvisi.

#### 1.1 Mengapa Perlu Data Understanding?

- Data merupakan bahan mentah solusi AI.
- Data dari masing-masing sumber belum tentu dapat langsung dipakai karena:
- Maksud dan tujuan data berbeda-beda
- Keadaan asal terpisah-pisah atau justru terintegrasi secara ketat.
- Tingkat kekayaan (richness) berbeda-beda
- Tingkat keandalan (reliability) berbeda-beda
- Data understanding memberikan gambaran awal tentang:
    - Kekuatan data
    - Kekurangan dan batasan penggunaan data
    - Tingkat kesesuaian data dengan masalah bisnis yang akan dipecahkan
    - Ketersediaan data (terbuka/tertutup, biaya akses, dsb.)

### 2. Sumber Data
----

Sumber data terbagi menjadi dua yaitu sumber data *internal* dan *external* :
1. Sumber Data *Internal*
    - Spreadsheets (Excel, CSV, JSON, etc)
    - Databases : Can be queried via SQL, etc
    - Text documents
    - Multimedia documents (audio & video)
2. Sumber Data *External*
    - Open data repositories
    - Public domain web pages

### 3. Tipe Data berdasarkan Susunan Data: Structured and Unstructured Data
----

![image.png](attachment:d33b2168-7f94-4d3b-bb44-fc281254899b.png)![image.png](attachment:c1fa1000-6c79-485d-880f-2b4ba4a87206.png)

Data semi-terstruktur (semi-structured data): Data terstruktur yang tidak mengikuti model struktur tabular yang seperti pada basis data relasional, namun tetap mengandung tags atau penanda lainnya yang dapat memisahkan elemen-elemen semantik pada data serta mengatur hierarki antara butir-butir datanya.

### 4. Tipe Data berdasarkan Sifat, Cara Pengumpulan, Waktu
------

#### 4.1 Tipe Data Berdasarkan Sifatnya
- Data dikotomi, merupakan data yang bersifat pilah satu sama lain, misalnya suku, agama, jenis kelamin, pendidikan, dan lain sebagainya.
- Data diskrit, merupakan data yang proses pengumpulan datanya dijalankan dengan cara menghitung atau membilang. Seperti, jumlah anak, jumlah penduduk, jumlah kematian dan sebagainya.
- Data kontinum, merupakan data pengumpulan datanya didapatkan dengan cara mengukur dengan alat ukur yang memakai skala tertentu. Seperti misalnya, Suhu, berat, bakat, kecerdasan, dan lainnya.

#### 4.2 Tipe Data Tipe Data Berdasarkan Cara Pengumpulan
- Data Primer, merupakan data yang didapatkan dari sumber pertama, atau dapat dikatakan pengumpulannya dilakukan sendiri oleh si peneliti secara langsung, seperti hasil wawancara dan hasil pengisian kuesioner (angket).
- Data Sekunder, merupakan data yang didapatkan dari sumber kedua. Menurut Purwanto (2007), data sekunder yaitu data yang dikumpulkan oleh orang atau lembaga lain. Data sekunder adalah data yang digunakan atau diterbitkan oleh organisasi yang bukan pengolahnya (Soeratno dan Arsyad (2003:76)).

#### 4.3 Tipe Data Tipe Data Berdasarkan Waktu
- Data Cross Section, merupakan data yang menunjukkan titik waktu tertentu. Contohnya laporan keuangan per 31 Desember 2020, data pelanggan PT. Data Indah bulan mei 2004, dan lain sebagainya.
- Data Time Series, merupakan data yang datanya menggambarkan sesuatu dari waktu ke waktu atau periode secara historis. Contoh data time series adalah data perkembangan nilai tukar dollar amerika terhadap rupiah tahun 2016 â€“ 2020.

### 5. Metode Pengambilan Data
------

Pengambilan data terbagi ke dalam beberapa jenis yaitu :
- Pengambilan data secara manual.
- Pengambilan data melalui API
- Pengambilan data melalui web scraping
- Pengambilan data melalui akses langsung ke basis data relasional yang ada.

### 6. Pencilan (Tukey's fences)
---

<center>
    <img src="https://pbs.twimg.com/media/E1g1k9oVoAEU9qa?format=jpg&name=900x900"
    width="500" />
</center>

Tukey's fences memakai rentang antarkuartil (interquartile range) -> IQR = Q3-Q1
- Xi adalah pencilan jika Xi < Q1 - 1.5(IQR) atau Xi > Q3 + 1.5(IQR)
- Xi adalah pencilan ekstrim jika Xi < Q1 - 3(IQR) atau Xi > Q3 + 3(IQR)

### Tugas Mandiri
---

In [4]:
# 1. Import library pandas
import pandas as pd

In [5]:
# 2. Memuat data dalam format csv
df = pd.read_csv('kepuasan_pelanggan_maskapai.csv')

In [6]:
# 3. Menampilkan 10 baris pertama dari dataset
df.head(10)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,80638,98687,Female,Loyal Customer,26,Personal Travel,Eco,861,2,4,...,5,5,4,4,3,5,5,0,0.0,neutral or dissatisfied
1,43398,80734,Male,Loyal Customer,22,Business travel,Business,393,3,5,...,3,1,1,3,2,3,3,0,16.0,neutral or dissatisfied
2,32751,5711,Female,Loyal Customer,59,Personal Travel,Eco,196,1,3,...,4,4,1,4,3,4,4,37,34.0,neutral or dissatisfied
3,33571,23035,Female,Loyal Customer,32,Personal Travel,Eco,1020,2,3,...,4,3,2,4,1,4,4,27,4.0,neutral or dissatisfied
4,71287,53962,Male,disloyal Customer,35,Business travel,Business,1117,2,2,...,2,2,2,3,2,2,2,0,0.0,neutral or dissatisfied
5,36275,112227,Female,Loyal Customer,25,Personal Travel,Eco,1199,2,4,...,2,1,3,4,5,2,2,1,1.0,neutral or dissatisfied
6,44364,105791,Male,Loyal Customer,34,Personal Travel,Eco,925,3,4,...,3,4,5,4,4,5,3,1,0.0,neutral or dissatisfied
7,20292,103057,Male,disloyal Customer,39,Business travel,Eco,546,3,2,...,4,1,1,2,2,3,4,22,42.0,neutral or dissatisfied
8,65495,27236,Female,Loyal Customer,45,Personal Travel,Eco,1024,2,4,...,5,5,2,2,5,5,3,0,0.0,neutral or dissatisfied
9,2787,104863,Female,Loyal Customer,31,Business travel,Business,1813,2,4,...,2,3,1,4,1,4,2,0,3.0,neutral or dissatisfied

In [7]:
# 4. Mengetahui jumlah baris dan kolom memanfaatkan fungsi shape
print("Jumlah Baris : ", df.shape[0])
print("Jumlah Kolom : ", df.shape[1])

Jumlah Baris :  10390
Jumlah Kolom :  25

In [8]:
# 5. Mengetahui tipe data setiap kolom pada dataset
df.dtypes

Unnamed: 0                             int64
id                                     int64
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                          object
dtype: object

In [9]:
# 6. Menampilkan statistik kolom
df.describe()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.000000,10390.00000,10390.000000,10390.000000,10390.000000,10362.000000
mean,51313.040712,64196.068239,39.512993,1193.684986,2.710106,3.051107,2.732243,2.976901,3.214629,3.245717,3.448316,3.381424,3.369779,3.332435,3.643407,3.29538,3.647064,3.302502,14.564100,14.878691
std,29842.890503,37502.362045,15.022586,998.764008,1.330931,1.519719,1.406060,1.287241,1.340606,1.359440,1.322111,1.339674,1.295843,1.318029,1.179273,1.27356,1.176943,1.321255,36.584938,37.009856
min,23.000000,9.000000,7.000000,56.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.00000,0.000000,1.000000,0.000000,0.000000
25%,25476.250000,32049.750000,27.000000,416.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.00000,3.000000,2.000000,0.000000,0.000000
50%,51236.000000,63603.000000,40.000000,857.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.00000,4.000000,3.000000,0.000000,0.000000
75%,76913.750000,96679.250000,51.000000,1733.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.00000,5.000000,4.000000,12.000000,13.000000
max,103899.000000,129848.000000,85.000000,4963.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,610.000000,593.000000

In [10]:
import warnings
warnings.filterwarnings("ignore")

In [11]:
# 7. Mencari nilai Interquartile Range
q1 = df.select_dtypes(exclude='object').quantile (0.25)
q3 = df.select_dtypes(exclude='object').quantile (0.75)
iqr = q3-q1
iqr

Unnamed: 0                           51437.5
id                                   64629.5
Age                                     24.0
Flight Distance                       1317.0
Inflight wifi service                    2.0
Departure/Arrival time convenient        2.0
Ease of Online booking                   2.0
Gate location                            2.0
Food and drink                           2.0
Online boarding                          2.0
Seat comfort                             3.0
Inflight entertainment                   3.0
On-board service                         2.0
Leg room service                         2.0
Baggage handling                         2.0
Checkin service                          2.0
Inflight service                         2.0
Cleanliness                              2.0
Departure Delay in Minutes              12.0
Arrival Delay in Minutes                13.0
dtype: float64

In [12]:
# 8. Filter outlier pada dataset
outlier_filter = (df.select_dtypes(exclude='object') < q1 - 1.5 * iqr) | (df.select_dtypes(exclude='object') > q3 + 1.5 * iqr)
outlier_filter

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10385,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10386,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10387,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10388,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10389,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
# 9. Menghitung Jumlah Outlier Pada Data
for col in outlier_filter.columns :
    if df[col].dtype != object :
        print('Nama Kolom:',col)
        print(outlier_filter[col].value_counts())
        print('-------------------')

Nama Kolom: Unnamed: 0
Unnamed: 0
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: id
id
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Age
Age
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Flight Distance
Flight Distance
False    10137
True       253
Name: count, dtype: int64
-------------------
Nama Kolom: Inflight wifi service
Inflight wifi service
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Departure/Arrival time convenient
Departure/Arrival time convenient
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Ease of Online booking
Ease of Online booking
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Gate location
Gate location
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Food and drink
Food and drink
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Online boarding
Online boarding
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Seat comfort
Seat comfort
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Inflight entertainment
Inflight entertainment
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: On-board service
On-board service
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Leg room service
Leg room service
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Baggage handling
Baggage handling
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Checkin service
Checkin service
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Inflight service
Inflight service
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Cleanliness
Cleanliness
False    10390
Name: count, dtype: int64
-------------------
Nama Kolom: Departure Delay in Minutes
Departure Delay in Minutes
False    8962
True     1428
Name: count, dtype: int64
-------------------
Nama Kolom: Arrival Delay in Minutes
Arrival Delay in Minutes
False    9025
True     1365
Name: count, dtype: int64
-------------------

In [15]:
# 10. Melihat jumlah data pada kolom kelas (Class) penerbangan
df['Class'].value_counts()

Class
Business    5049
Eco         4570
Eco Plus     771
Name: count, dtype: int64

In [17]:
# 11. Analisa jumlah penerbangan berdasarkan gender
df.groupby(['Gender'])['id'].count()

Gender
Female    5273
Male      5117
Name: id, dtype: int64

In [18]:
# 12. Analisa rata-rata umur dari tipe customer dan tipe travel
df.groupby('Customer Type')['Age'].mean()

Customer Type
Loyal Customer       41.482155
disloyal Customer    30.552885
Name: Age, dtype: float64

In [24]:
# 13. Analisa kepuasan berdasarkan tipe customer
df.groupby(['Customer Type'])['satisfaction'].sum()

Customer Type
Loyal Customer       neutral or dissatisfiedneutral or dissatisfied...
disloyal Customer    neutral or dissatisfiedneutral or dissatisfied...
Name: satisfaction, dtype: object

In [33]:
# 14. Analisa kepuasan berdasarkan tipe kelas penerbangan
df.groupby(['Class','satisfaction'])['satisfaction'].sum()

Class     satisfaction
Business  neutral or dissatisfied    neutral or dissatisfiedneutral or dissatisfied...
          satisfied                  satisfiedsatisfiedsatisfiedsatisfiedsatisfieds...
Eco       neutral or dissatisfied    neutral or dissatisfiedneutral or dissatisfied...
          satisfied                  satisfiedsatisfiedsatisfiedsatisfiedsatisfieds...
Eco Plus  neutral or dissatisfied    neutral or dissatisfiedneutral or dissatisfied...
          satisfied                  satisfiedsatisfiedsatisfiedsatisfiedsatisfieds...
Name: satisfaction, dtype: object

In [29]:
# 15. Analisa standar deviasi jarak penerbangan berdasarkan tipe kelas penerbangan
df.groupby(['Class'])['Flight Distance']. value_counts()

Class     Flight Distance
Business  1846               19
          1587               19
          762                16
          214                16
          1440               16
                             ..
Eco Plus  785                 1
          784                 1
          782                 1
          620                 1
          2917                1
Name: count, Length: 3668, dtype: int64

---

Copyright Â© 2024 by Tim Pengembangan DGX, Universitas Gunadarma


https://www.hpc-hub.gunadarma.ac.id/